@import "../../styles/colors.scss";

.header-search-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 50%;
  margin: 0 auto;

  .logo {
    align-self: center;
    height: 40px;
    margin-right: 2rem;
  }

  form {
    display: flex;
    width: 100%;

    input {
      width: 100%;
      padding: .5rem 1rem;
      border-radius: 4px 0 0 4px;
      border: 0;
      font-size: 18px;
    }

    button {
      background-color: $meli-light-gray;
      border-radius: 0px 4px 4px 0;
      width: 3rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .header-search-container {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .header-search-container {
    width: 100%;
  }
}