.landing-message {
  align-self: flex-start;
  font-size: 40px;
  background-color: white;
  width: 70%;
  padding: 4rem;
  margin-top: 2rem;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}